@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Playwrite+SK:wght@100..400&display=swap");

:root {
  --font-family: "Oswald", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: #F8F7F4;
  padding: 0;
  margin: 0;
}

body * {
  background-color: #F8F7F4;
}

::selection{
  background-color: #FCE8B7;
  color: black;
}